<a href="https://colab.research.google.com/github/calerovillalobos10/Recolectar_Datos_Python/blob/main/Tarea1_Recolecci%C3%B3n_y_acceso_a_los_datos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Tarea1: Recolección y acceso a los datos.**

## Estudiantes

*   Bryan Thomas Calero Villalobos
*   Daniela Montero Parkinson
*   Christopher Zúñiga Cárdenas

## 1. Introducción a la Recolección de Datos

## 2. Uso de APIs para Acceder a Datos

### ¿Qué es un API?

### ¿Cómo se utilizan las APIs para recolección de datos en Ciencia de Datos?

### Uso Práctico - Recolección de Datos con APIs

## 3. Bases de Datos SQL

In [ ]:
##Creación de la base de datos
import sqlite3

conn = sqlite3.connect('Tarea12')
##Creación de laS tablaS, se tiene que crear un cursor para la ejecución de codigo

cursor = conn.cursor()
cursor.execute("DROP TABLE IF EXISTS Persona")
cursor.execute('''
CREATE TABLE Persona (
    Id INTEGER PRIMARY KEY,
    Nombres TEXT NOT NULL,
    PrimerApellido TEXT NOT NULL,
    SegundoApellido TEXT NOT NULL,
    FechaNacimiento DATE NOT NULL,
    Nacionalidad TEXT NOT NULL,
    Sexo CHAR NOT NULL

)
''')

cursor = conn.cursor()
cursor.execute("DROP TABLE IF EXISTS Telefonos")

cursor.execute('''
CREATE TABLE Telefonos (
    Id INTEGER IDENTITY(1, 1) PRIMARY KEY ,
    IdCliente INTEGER NOT NULL,
    Tipo TEXT NOT NULL,
    Numero INTEGER NOT NULL,
    FOREIGN KEY (IdCliente) REFERENCES Persona(Id))
''')
Persona_data = [
    (1, "Juan Antonio", "Perez","Montero","1990-08-08","Costarricense","M"),
    (2, "Pedro", "Peralta","Gomez","1993-01-08","Costarricense","M"),
    (3, "Ana Maria", "Boniot","Pier","1980-02-26","Frances","F"),
    (4, "Mariana", "Parra","Telo","1988-05-31","Espanol","F"),
]
##Ejecución de varios datos del array
cursor.executemany('''
INSERT INTO Persona (Id, Nombres, PrimerApellido, SegundoApellido, FechaNacimiento, Nacionalidad, Sexo) VALUES (?, ?, ?, ?, ?, ?, ?)
''', Persona_data)


conn.commit()

In [ ]:



cursor.execute("SELECT  * FROM Persona")
personas1 = cursor.fetchall()

for personas in personas1:
   print(personas)


cursor.execute("SELECT  * FROM Persona WHERE FechaNacimiento >= '1988-05-31' ")
persona40 = cursor.fetchall()

for Persona in persona40 :
   print(Persona)


conn.close()

(1, 'Juan Antonio', 'Perez', 'Montero', '1990-08-08', 'Costarricense', 'M')
(2, 'Pedro', 'Peralta', 'Gomez', '1993-01-08', 'Costarricense', 'M')
(3, 'Ana Maria', 'Boniot', 'Pier', '1980-02-26', 'Frances', 'F')
(4, 'Mariana', 'Parra', 'Telo', '1988-05-31', 'Espanol', 'F')
(1, 'Juan Antonio', 'Perez', 'Montero', '1990-08-08', 'Costarricense', 'M')
(2, 'Pedro', 'Peralta', 'Gomez', '1993-01-08', 'Costarricense', 'M')
(4, 'Mariana', 'Parra', 'Telo', '1988-05-31', 'Espanol', 'F')

## 4. Bases de Datos NoSQL

## 5. Almacenamiento en la Nube

## 6. Datos en Tiempo Real

## 7. Uso de Google Colab

## 8. Ética, Normativas y Privacidad de Datos

# División de Tareas
1. Introducción a la Recolección de Datos o Investigar y describir cinco métodos comunes (no abordados en esta Tarea) para la recolección de datos en proyectos de ciencia de datos. o Discutir las ventajas y desventajas de cada método. **Dani**
2. Uso de APIs para Acceder a Datos o Investigar qué es una API y cómo se utiliza para recoger datos de forma programática, en ciencia de datos. o Ejemplo práctico I: Ejecutar la siguiente notebook, siguiendo los pasos indicados. https://colab.research.google.com/drive/1TgilneUatN1TFfkqyIz_i35x7EUb5s1o? usp=sharing  o Ejemplo práctico II: Investigar otro caso de uso de API, similar al anterior y obtener la información que considere oportuna, explique todos los pasos y demás detalle **Thom**

3. Bases de Datos SQL o Investigar los fundamentos de las bases de datos SQL y su importancia en la ciencia de datos. o Ejemplo práctico: Crear una pequeña base de datos SQL usando en su notebook la librería pySQL y realizar un Tutorial orientado a ciencia de datos sobre como extraer información de su base de datos creada. **Chris**
4. Bases de Datos NoSQL o Explicar las diferencias entre las bases de datos SQL y NoSQL. Proporcionar ejemplos de uso de bases de datos NoSQL, en el contexto de la ciencia de datos. o Ejemplo práctico: usando en su notebook la librería pymongor, crear un Tutorial orientado a ciencia de datos sobre como insertar y recuperar datos de una base de datos de este tipo.**Chris**
5. Almacenamiento en la Nube o Discutir las opciones de almacenamiento en la nube (AWS, Google Cloud, Azure) y sus aplicaciones en la ciencia de datos. o Ejemplo práctico: Crear un pequeno Tutorial donde indique los pasos para subir y  descargar datos desde un bucket de Amazon S3. **Thom**
6. Datos en Tiempo Real o Investigue sobre al menos 3 fuentes de datos en tiempo real, describa su funcionamiento e importancia en las decisiones basadas en datos.**Dani**
7. Uso de Google Colab o Investigar como invocar archivos en Google Colab, haciendo uso de archivos almacenados en Drive. o Ejemplo práctico: Invoque un archivo .csv en Drive desde una notebook en Google Colab y muestre los datos en la notebook. **Chris**
8. Ética, Normativas y Privacidad de Datos o Investigar sobre la ética y la privacidad en la recolección y almacenamiento de datos. ¿Que no se está haciendo? ¿Que se está haciendo? ¿Qué debería hacerse? o Indique al menos 3 normativas para 3 verticales no abordadas en el curso. o Discutir dos casos de estudio donde la falta de consideración ética llevó a problemas legales o de imagen para las empresas. **Dani**